.administration-buttons div{
	padding: 10px 10px 10px 10px;
	min-width:125px;
}
.administration-buttons div:hover {
	background-color: #4875B3;
	border-radius: 2px;
	text-decoration:none;
	cursor:pointer;
	color: #fff;
}
.administration-buttons-hmargin{
	width:20px;
}
